---
layout: default
---

{{ content }}

<div>
    <form action="https://api.web3forms.com/submit" method="POST">

        <input type="hidden" name="access_key" value="{{ site.contact_web3form_id }}">
        <input type="hidden" name="redirect" value="{{ site.contact_web3form_success_url }}">

        <p>
            <input type="text" name="name" required>
        </p>
        <p>
           <input type="email" name="email" required>
        </p>
        <p>
            <textarea name="message" required></textarea>
        </p>
        <p>
            <button type="submit">Submit Form</button>
        </p>

    </form>
</div>